:root {
  --background: #ffff;

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
}